{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Kaiden's Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/sleepyhead.jpg') }}" alt="Sleepy Head" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Who is this?</h5>
                    <p class="card-text">
                        <ul>
                            <li>That is me when I woke up.</li>
                            <li>I woke up at 9:17am and it was a Wednesday.</li>
                            <li>I was pretty tired.</li>
                        </ul>
                    </p>
                    <a href={{ url_for('projects.Kaiden') }} class="btn btn-primary">More about me</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/mango.jpg') }}" alt="Champagne Mango" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are these?</h5>
                    <p class="card-text">
                        <ul>
                            <li>That is a Champagne mango.</li>
                            <li>It is a type of mango that is very sweet and juicy and yellow.</li>
                            <li>When I had many mangos before I would eat one everyday because they are good.</li>
                        </ul>
                    </p>
                    <a href="Kaiden" class="btn btn-primary">Other fruits I like</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/turtlebear.png') }}" alt="Turtle + Bear" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What animal is this?</h5>
                    <p class="card-text">
                        <ul>
                            <li>That is a combination of a turtle and a grizzly bear.</li>
                            <li>I like grizzly bears and turtles.</li>
                            <li>Also that picture looks cool so I like it.</li>
                        </ul>
                    </p>
                    <a href="Kaiden" class="btn btn-primary">Other animals I like</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}